fastapi
uvicorn[standard]
python-multipart
pydantic-settings
sqlalchemy
pymupdf
chromadb
sentence-transformers
groq
tensorflow
numpy

pytesseract 
pdf2image
rank-bm25
redis
python-jose
passlib
bcrypt
pillow
rank-bm25
slowapi
langgraph
langchain